.btn-space {
  margin: 10px;
}

.feedback {
  display: flex;
}

.last-battle {
  border: 1px solid #EFEFEF;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.6);
}

/* Also used in the /profiles */
.feedback-icon-small {
  height: 45px;
  margin: 5px;
}